
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9B59B6;
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #9B59B6;
}

p {
  line-height: 1.6;
  color: #666;
}

footer {
    background-color: #111;
  }
  .footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
  }
  .socialIcons {
    display: flex;
    justify-content: center;
  }
  .socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin:10px;
    border-radius: 50%;
  }
  .socialIcons a i{
    font-size: 2em;
    color: #111;
    opacity: 0.9;
  }
  /*Hover Effects on Social Media Icons */
  .socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
  }
  
  

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}
